.add-button{
    text-align: right;
    margin-right: 50px;
}

.mat-elevation-z8{
    margin-left: 20px;
    margin-right: 20px;
}

.mat-column-description{
    text-align: justify;
}


th, td{
    text-align: justify;
}